{
  "$schema": "http://json.schemastore.org/swcrc",
  "test": [
    "src/.*\\.(j|t)sx?$",
    "test/.*\\.ts$"
  ],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext",
    "baseUrl": "src",
    "loose": true
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}
